.schedule-card {
    margin: 0 0 30px 0;
}

.schedule-card-animation-appear {
    opacity: 0.01;
}

.schedule-card-animation-appear.schedule-card-animation-appear-active {
    opacity: 1;
    transition: opacity .1s ease-in;
}