#app header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

#app footer {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}